@{
    ViewBag.Title = "About";
}

<div class="" style="">
    <div class="" style="height:160px; background-image:url(/Images/slider1.jpg); background-size:cover">
        <div class="container" style="padding-top:5px;color:white">
            <h6 style="font-weight:bold">About</h6>
            <h2 style="font-weight:600;margin-top:5px">Paperseed</h2>
        </div>
    </div>
    <div class="container" style="">
        <div class="row">
            <div class="col s12 m12 l9 z-depth-1" style="border-radius:15px;background-color:white;margin-top:-65px; padding:20px;height:450px;">
                <h5>Who we are..</h5>
            </div>
            <div class="col s12 m12 l3" style="padding-left:20px;height:350px">
                <h6>Contact us</h6>
                <div class="yellow lighten-2 z-depth-1" style="border-radius:10px; padding:7px;height:160px;">
                    Address
                </div>
                <h6>Services</h6>
                <div class="yellow lighten-2 z-depth-1" style="border-radius:10px; padding:7px;height:160px;">
                    <ul>
                        <li>Technology partner</li>
                        <li>Consulting</li>
                        <li>Web designing</li>
                        <li>Hosting</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@*<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@