@{
    ViewBag.Title = "Home";
    var sliderUrls = ViewBag.SliderUrls;
}
@section featured {

}
<div class="slider">
    <ul class="slides" style="background-color:#00486B">
        @foreach (var url in sliderUrls)
        {
            <li>
                <img src= @url.Url style="height:100%;width:100%"> 
                <div class="caption right-align">
                    <h3>@url.Title</h3>
                    <h5 class="light grey-text text-lighten-3">@url.SubTitle</h5>
                </div>
            </li>
        }
    </ul>
</div>
<div class=" container divider"></div>
<div class="container" style="max-width:80%; width:80%; padding-top:10px">

    <div class="container" style="text-align:center">
        <h4>Get high quality websites at affordable price.</h4>
        <h5>We will take care of every step from designing your portal to hosting it live on the Internet.</h5>
        <div class="divider"></div>
    </div>

    <div class="row">
        <div class="col s12 m3">
            <div class="card">
                <div class="card-content yellow lighten-2" @*style="background-color:#E75C5C"*@>
                    <span class="card-title deep-orange-text" style="font-weight:400"><i class="small mdi-maps-local-grocery-store"></i>&nbsp;Retail</span>
                    <p>
                        Grow your business with presence in the Internet. Add product lists, ads, e-commerce and more.
                    </p>
                </div>
                <div class="card-action white">
                    <a href="Business/Retail" style="color:red">Know more &gt;</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-content yellow lighten-2">
                    <span class="card-title deep-orange-text" style="font-weight:400"><i class="small mdi-social-location-city"></i>&nbsp;RealEstate</span>
                    <p>
                        Enable buyers to have a virtual tour in and around your properties. Features gallery and more.
                    </p>
                </div>
                <div class="card-action white">
                    <a href="Business/RealEstate" style="color:red">Know more &gt;</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-content yellow lighten-2">
                    <span class="card-title deep-orange-text" style="font-weight:400"><i class="small mdi-hardware-mouse"></i>&nbsp;Technology</span>
                    <p>
                        Are you a technology company like us. Kickstart your creative ideas with a cool website today.
                    </p>
                </div>
                <div class="card-action white">
                    <a href="Business/Technology" style="color:red">Know more &gt;</a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-content yellow lighten-2">
                    <span class="card-title deep-orange-text" style="font-weight:400"><i class="small mdi-social-mood"></i>&nbsp;Personal</span>
                    <p>
                        Get a personal website. Portfolio, hobbie portal, gallery or birthday website as per your taste.
                    </p>
                </div>
                <div class="card-action white">
                    <a href="Business/Personal" style="color:red">Know more &gt;</a>
                </div>
            </div>
        </div>
    </div>
  
   <div class="row">
        <div class="col s12 m12">
            <div class="card  yellow lighten-4">
                <div class="card-content black-text">
                    <span class="card-title deep-orange-text"><i class="small mdi-action-face-unlock"></i>&nbsp;Free for Schools!</span>
                    <p>
                        We love our school days and our services are completly free for any school that do not have a website. 
                        We will design a feature rich website for your school free of cost.  
                    </p>
                </div>
                <div class="card-action">
                    <a href="Business/School">
                        <div class="btn waves-effect waves-light orange lighten-1">
                            Request for a free school website
                            <i class="mdi-content-send right"></i>
                        </div>
                        <div class="fb-like"
                             data-share="true"
                             data-width="450"
                             data-show-faces="true">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div> 

 
</div>

